{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
{% load static %}
<div class="main clearfix d-flex flex-row justify-content-center align-items-stretch" id="home">

  <div class="side-content d-none d-md-inline-block">
    <p>これはサイドバーです。</p>
    <a class="nav-link" href="{% url 'new_orient:purchasesearch' %}">発注検索</a>
    <a class="nav-link" href="{% url 'new_orient:clientsearch' %}">顧客検索</a>
    <a class="nav-link" href="{% url 'new_orient:suppliersearch' %}">仕入先検索</a>
    <a class="nav-link" href="{% url 'new_orient:departmentsearch' %}">部門検索</a>
  </div>

  <div class="maincontent d-inline-block">
      <p>ここはホーム画面です。</p>
    <a class="nav-link" href="{% url 'new_orient:projectsearch' %}">マイプロジェクト一覧</a>
    <a class="nav-link" href="{% url 'new_orient:statemessagelist' %}">状態メッセージ一覧</a>
  </div>
</div>
{% endblock content %}
