{% extends "base.html" %}

<!--{% load static %} -->

{% block title %}
トップ
{% endblock title %}

{% block js %}
{% endblock %}

{% block css %}{% endblock %}

{% block content %} <!--当該ページcontent特有の要素のスタイルシートについては、同html内のblock cssに記載のこと。-->
  <div class="main clearfix d-flex flex-row justify-content-center align-items-stretch" id="index">

    <div class="side-content d-none d-md-inline-block">
      <p>これはサイドバーです。</p>

    </div>

    <div class="maincontent">
      <p>ここはログイン画面です。</p>
    </div>

  </div>
{% endblock content %}
