{% extends "base.html" %}

{% block title %}
製品検索
{% endblock title %}

{% block content %}
{% load static %}
<div class="main clearfix d-flex flex-row justify-content-center align-items-stretch" id="home">

  <div class="side-content d-none d-md-inline-block">
    <p>これはサイドバーです。</p>
  </div>

  <div class="maincontent d-inline-block">
      <p>ここは製品検索画面です。</p>
      <div class="ProductSearchForm">
        <div class="supplier">
          <input type="text" id="projectclient" placeholder="支払先名" style="width:20vw">
        </div>
        <div class="product">
          <input type="text" id="productname" placeholder="品名" style="width:20vw">
          <input type="text" id="productcode" placeholder="型番" style="width:20vw">
        </div>
        <div class="productcategory">
          <input type="text" id="productcategory1" placeholder="カテゴリー１" style="width:20vw">
          <input type="text" id="productcategory2" placeholder="カテゴリー２" style="width:20vw">
        </div>
        <div class="productcost">
          <input type="text" id="productbudget" placeholder="仕入額">
          <input type="text" id="productprice" placeholder="定価">
        </div>
        <div class="productstate">
          
        </div>
      </div>
  </div>
</div>
{% endblock content %}
